In [1]:
import DatabaseQueryUpdate as db

In [2]:
from sshtunnel import SSHTunnelForwarder
PORT=5432
with SSHTunnelForwarder(('srn01.cs.cityu.edu.hk', 22),
                        ssh_username='stylometry',
                        ssh_password='stylometry',
                        remote_bind_address=('localhost', 5432),
                        local_bind_address=('localhost', 5400)):
    bigDocument = db.getDocBigData(5400)

Execution completed
Read completed
Number of rows: 27679
<type 'list'>
doc_id          int64
doc_title      object
year_of_pub    object
dtype: object
Data Frame created: Shape: (27679, 3)

In [3]:
from sshtunnel import SSHTunnelForwarder
PORT=5432
with SSHTunnelForwarder(('srn02.cs.cityu.edu.hk', 22),
                        ssh_username='stylometry',
                        ssh_password='stylometry',
                        remote_bind_address=('localhost', 5432),
                        local_bind_address=('localhost', 5400)):
    smallDocument = db.getDocSmallData(5400)

Execution completed
Read completed
Number of rows: 2386
<type 'list'>
doc_id          int64
doc_title      object
year_of_pub    object
dtype: object
Data Frame created: Shape: (2386, 3)

In [4]:
print("Data Frame created: Shape: %s" % (str(bigDocument.shape)))
print("Data Frame created: Shape: %s" % (str(smallDocument.shape)))

Data Frame created: Shape: (27679, 3)
Data Frame created: Shape: (2386, 3)

In [5]:
df = bigDocument.loc[ bigDocument['doc_title'] == smallDocument.loc[10]['doc_title'] ]

In [6]:
# for index, row in smallDocument.iterrows():
#     df = bigDocument.loc[ bigDocument['doc_title'] == row['doc_title'] ]
#     doc_id = df['doc_id']
#     doc_title = df['doc_id']
#     year_of_pub = df['doc_id']
#     print('doc_id = %s ' % (doc_id))
#     print('doc_title = %s ' % (doc_title))
#     print('year_of_pub = %s ' % (year_of_pub))
# #     from sshtunnel import SSHTunnelForwarder
# #     PORT=5432
# #     with SSHTunnelForwarder(('srn02.cs.cityu.edu.hk', 22),
# #                             ssh_username='stylometry',
# #                             ssh_password='stylometry',
# #                             remote_bind_address=('localhost', 5432),
# #                             local_bind_address=('localhost', 5400)):
# #         smallDocument = db.updateDocSmallData(5400, doc_id, doc_title, year_of_pub)

In [9]:
import pandas as pd
result = smallDocument.merge(bigDocument, on='doc_title', how='inner')

In [10]:
print(result)

      doc_id_x                                          doc_title  \
0            2                           Town and Country Sermons
1           10                            The Celebrity, Complete
2           11                                    Is He Popenjoy?
3           12                                     Piccadilly Jim
4           13                                        Gaspar Ruiz
5           14                      Aunt Jane's Nieces in Society
6           15                                        Aaron's Rod
7           17                                      Rudder Grange
8           18               Mysticism and Logic and Other Essays
9           20                                        Jack Archer
10          22                                       The Talisman
11          23                              The Heir of Redclyffe
12          27                                Aunt Jo's Scrap-Bag
13          28                                   The Four Million
14          29                       The Rustlers of Pecos County
15          30                                      Rollo in Rome
16          32                              Mark Twain's Speeches
17          33                           John Bull's Other Island
18          34                                           Marriage
19          35            A Portrait of the Artist as a Young Man
20          37                                The New Machiavelli
21          39                                               Nero
22          41                                         Stage-Land
23          46                                       Barry Lyndon
24          48                                      Venetian Life
25          49                                   Past and Present
26          52                              A Girl of the Commune
27          54                                Questionable Shapes
28          55                           Mrs. Warren's Profession
29          57          Memoirs of Major Alexander Ramkins (1718)
...        ...                                                ...
1452      2324                                          The Snare
1453      2326                                      The Patagonia
1454      2328                              Life's Little Ironies
1455      2329                         Thurston of Orchard Valley
1456      2330                          Notes on Life and Letters
1457      2331                              First and Last Things
1458      2332  The Works of the Right Honourable Edmund Burke...
1459      2337                           An International Episode
1460      2338                                 War of the Classes
1461      2343                                 A Jolly Fellowship
1462      2345                                               Jess
1463      2348                                        Tono Bungay
1464      2349                                        The Dynasts
1465      2351                                        Ting-a-ling
1466      2354                                        Richard III
1467      2355                                          Lost Face
1468      2358                                      Rose in Bloom
1469      2362                                 Round the Red Lamp
1470      2365                                            Ballads
1471      2365                                            Ballads
1472      2366  The Letters of Elizabeth Barrett Browning (1 o...
1473      2368                                Captains Courageous
1474      2370                 The Burgess Bird Book for Children
1475      2373                                       Miscellanies
1476      2374                           The History of Pendennis
1477      2375                                       Devil's Ford
1478      2377                             The Devil's Dictionary
1479      2380                                     The Virginians
1480      2381                                      Chantry House
1481      2386                                     Rolling Stones

     year_of_pub_x  doc_id_y year_of_pub_y
0       1886-02-25     21165    2004-03-01
1       1886-02-25      7251    2004-10-19
2       1886-02-25     16633    2009-08-28
3       1886-02-25      6399    1999-12-01
4       1886-02-25      3654    2005-08-01
5       1886-02-25     12256    2003-12-01
6       1886-02-25     20150    2003-10-01
7       1886-02-25      1635    1999-12-01
8       1886-02-25      9310    2008-05-12
9       1886-02-25     10009    2004-02-01
10      1886-02-25      2419    2004-05-01
11      1886-02-25     28682    2001-02-01
12      1886-02-25     22436    2008-07-12
13      1886-02-25     10614    2001-08-01
14      1886-02-25      9192    2005-04-08
15      1886-02-25     27846    2007-11-10
16      1886-02-25     13426    2004-09-17
17      1886-02-25      9046    2003-01-01
18      1886-02-25     22579    2004-06-01
19      1886-02-25     15245    2003-07-01
20      1886-02-25     17159    1997-09-01
21      1886-02-25     14505    2008-03-08
22      1886-02-25     19762    1997-03-01
23      1886-02-25     24602    2003-10-01
24      1886-02-25      3186    2004-12-01
25      1886-02-25     19622    2004-09-27
26      1886-02-25     10598    2008-01-11
27      1886-02-25      3228    2005-12-01
28      1886-02-25      9041    2002-02-11
29      1886-02-25     17996    2004-12-24
...            ...       ...           ...
1452    1886-02-25     27726    2001-06-01
1453    1886-02-25     22928    2000-12-01
1454    1886-02-25     18890    2002-01-01
1455    1886-02-25      5551    2009-06-28
1456    1886-02-25      3649    1997-12-01
1457    1886-02-25     17181    2003-07-01
1458    1886-02-25       473    2006-05-05
1459    1886-02-25     24006    2008-07-09
1460    1886-02-25      7506    1998-02-01
1461    1886-02-25      1795    2007-02-24
1462    1886-02-25     26332    2006-04-22
1463    1886-02-25     17148    2006-03-18
1464    1886-02-25     18885    2003-05-01
1465    1886-02-25      1619    2007-03-16
1466    1886-02-25     19260    2004-11-01
1467    1886-02-25      8003    2000-12-01
1468    1886-02-25     22417    2001-09-01
1469    1886-02-25      8383    1996-02-01
1470    1886-02-25      2180    1996-01-01
1471    1886-02-25     24603    2001-07-01
1472    1886-02-25     24418    2004-07-25
1473    1886-02-25     19147    2000-05-01
1474    1886-02-25       490    2002-02-01
1475    1886-02-25     11193    2004-11-16
1476    1886-02-25     24584    2005-01-01
1477    1886-02-25     16223    2006-05-14
1478    1886-02-25      4714    1997-07-01
1479    1886-02-25     24575    2005-05-01
1480    1886-02-25     28883    2005-01-01
1481    1886-02-25     10617    2003-03-01

[1482 rows x 5 columns]